* {
  margin: 0;
  padding: 0;
}
.mobile-responsive {
  width: 100%;
  object-fit: contain;
}

.logo-portfolio {
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 55px;
  color: #fff;
}

i.material-icons {
  margin-top: 10px;
  width: 100%;
  object-fit: contain;
}

iv.mdl-layout__drawer {
  background-color: #5fc3b1;
  height: 300px;

  border-radius: 0 0 50% !important;
}

.underlay-text {
  z-index: 0;
  font-size: 450px;
  font-weight: 600;
  font-family: sans-serif;
  color: #268ea4;
  margin-top: 400px;
  position: absolute;
  left: 0px;
  opacity: 20%;
  width: 100%;
  object-fit: contain;
}

.first-half {
  position: relative;
  overflow: hidden;
  background-color: #1f4386;

  width: 100%;
  background-repeat: no-repeat;
  z-index: -4;
  width: 100%;
  object-fit: contain;
  padding-bottom: 0px;
  padding-top: 10px;
}

.second-half {
  position: absolute;
  float: right;
  left: 50%;
  background-color: #fff;

  width: 40%;
  border-bottom-left-radius: 40%;
  bottom: 0px;
  z-index: -3;

  object-fit: contain;
  background-repeat: no-repeat;
}

.my-name {
  color: #fff;
  top: 130px;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  left: 40px;
  background-color: #5fc3b1;
  padding: 10px;
  border-radius: 25px;
}

.introduction {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 90px;
  top: 170px;
  left: 60px;
  position: absolute;
  z-index: 2;
  animation: text 3s 1;
  width: 100%;
  object-fit: contain;
}

.introduction2 {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 90px;
  top: 250px;
  left: 60px;
  position: absolute;
  z-index: 2;
  animation: text 3s 1;
}

.introduction3 {
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: normal;

  font-size: 20px;
  top: 400px;
  left: 60px;
  position: absolute;
  z-index: 2;
}

.second-half2 {
  background-image: url(./Components/image/IMG-20200215-WA0012.jpg);
  height: 500px;
  width: 500px;

  left: 100px;
  top: 100px;
  position: relative;
  border-radius: 50%;
  padding: 50px;
  border-width: 10px;
  border-color: #1f4386;
}

.icon1 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 30px;
  top: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.icon2 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 30px;
  left: 50px;
  top: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.icon3 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 30px;
  left: 100px;
  top: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.icon4 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 30px;
  left: 150px;
  top: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

@keyframes text {
  0% {
    transform: rotateZ(0deg) scale(0);
  }
  100% {
    transform: rotateZ(360deg) scale(1);
  }
}

.projects-grid {
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
}

div .projects-grid {
  display: flex;
  padding: 60px;
  margin-bottom: 250px !important;
  align-items: center;
  justify-content: center;
}

.category-tabs {
  align-items: center;
  justify-content: center;
  margin: auto;

  padding: 20px;
}

a.undefined__tab.Tabs1 {
  border-color: #5fc3b1;
  border-radius: 25px;
  padding: 20px;
  outline: none;
}

div.mdl-tabs__tab-bar {
  width: 300px;
  text-align: center;
  justify-content: center;
  margin: auto;
  z-index: -3;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: block;
  flex-shrink: 0;
  padding: 16px 40px;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
}

.drawer {
  color: #fff;
}

.Tabs {
  align-items: center;
  justify-content: center;
  margin-left: 650px;
  color: #1f4386;
  padding: 20px;
}

.Tabs1 {
  color: #1f4386;
  padding: 20px;
}

a.undefined__tab.Tabs1:hover {
  border-radius: 25px;
  border: 2px;
  border-color: #5fc3b1;
}

.background {
  position: absolute;

  right: 148px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  top: 300px;
  z-index: -3;
  transform: rotate(90deg);
  object-fit: contain;
}

.background2 {
  position: absolute;
  float: right;
  padding-right: 5px;
  padding-bottom: 5px;
  left: 148px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  bottom: 301px;
  z-index: -3;
  transform: rotate(270deg);
  object-fit: contain;
}

.background-1 {
  position: absolute;

  right: 148px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  top: 300px;
  z-index: -3;
  transform: rotate(90deg);
  object-fit: contain;
}

.background2-1 {
  position: absolute;
  float: right;
  padding-right: 5px;
  padding-bottom: 5px;
  left: 148px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  bottom: 301px;
  z-index: -3;
  transform: rotate(270deg);
  object-fit: contain;
}

.background-cover {
  color: #fff;
  width: 100%;
}

div.mdl-layout__drawer {
  background-color: #5fc3b1;
  height: 300px;
}

a.mdl-navigation__link {
  color: #fff;
  font-family: sans-serif;
}

.resume {
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: #5fc3b1;
  padding: 30px;

  width: 700px;
  border-radius: 25px;
  margin-top: 205px;
}

.nice-card {
  height: 200px;
  color: white;
  background: url("./Components/image/bibo.png");
  position: relative;
}

.nice-card1 {
  height: 200px;
  color: white;
  background: url("./Components/image/ps5.png");
}

.nice-card2 {
  height: 200px;
  color: white;
  background: url("./Components/image/freeman.png");
  background-size: auto;
}

.nice-card3 {
  height: 200px;
  color: white;
  background: url("./Components/image/net.png");
  background-size: auto;
  object-fit: contain;
}

.nice-card4 {
  height: 200px;
  color: white;
  background: url("./Components/image/amazon.png");
}

.nice-card5 {
  height: 200px;
  color: white;
  background: url("./Components/image/chat.png");
}

.resume p :first-child:hover {
  background-color: black;
}

.topcorner-arc {
  position: absolute;
  float: right;
  left: 145px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  bottom: 310px;
  z-index: -3;
  transform: rotate(270deg);
}

.bottomcorner-arc {
  position: absolute;
  float: right;
  right: 145px;
  background-color: #1f4386;
  height: 600px;
  width: 20%;
  border-bottom-left-radius: 70%;
  top: 300px;
  z-index: -3;
  transform: rotate(90deg);
}
/* 
@media screen and (max-width: 1500px) {
  .background {
    margin-top: 85px;
  }
  .background2 {
    margin-bottom: 100px;
  }
} */

/* 
@media screen and (max-width: 1100px) {
  .background {
    position: absolute;
    margin-top: 750px;
  }
  .background2 {
    position: absolute;
    margin-bottom: 120px;
  }
  .projects-grid {
    flex-direction: column;
    display: flex;
    padding: 70px;
    font-size: 50px;
    justify-content: space-around;
    margin: auto;
  }

  div .category-tabs {
    padding: 30px;
  }

  .underlay-text {
    font-size: 200px;
    margin-left: 20px;
    margin-top: 400px;
  }
  .second-half2 {
    background-image: none;
  }
  .introduction {
    font-size: 50px;
    padding: 20px;
    margin-top: 150px;
    margin-left: -18px;
  }
  .introduction3 {
    display: none;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: 120px;
  }
  .my-name {
    margin-top: 80px;
  }
  .introduction2 {
    font-size: 30px;
  }
} */

@media screen and (max-width: 1024px) {
  .second-half2 {
    display: none;
  }
  .my-name {
    margin-top: 70px;
  }

  .underlay-text {
    font-size: 280px;
    margin-top: 502px;
  }

  i.material-icons {
    color: white;
  }
  .introduction {
    font-size: 65px;
    margin-top: 150px;
  }

  .introduction3 {
    margin-top: 303px;
    background-color: #5fc3b1;
    border-radius: 25px;
    padding: 70px;
    opacity: 70%;
    margin-left: 80px;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: 515px;
  }
  .background {
    margin-top: 994px;
    margin-bottom: 0;
    margin-right: 52px;
  }
  .background2 {
    margin-bottom: 658px;
  }

  .background-1 {
    position: absolute;
    right: 200px;
    background-color: #1f4386;
    height: 600px;
    width: 20%;
    border-bottom-left-radius: 70%;
    top: 963px;
    z-index: -3;
    transform: rotate(90deg);
    object-fit: contain;
  }

  .background2-1 {
    position: absolute;
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
    left: 198px;
    background-color: #1f4386;
    height: 600px;
    width: 20%;
    border-bottom-left-radius: 70%;
    bottom: 958px;
    z-index: -3;
    transform: rotate(270deg);
    object-fit: contain;
  }

  .resume {
    margin-top: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 50px;
  }
  .flex-blue {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .content {
    margin-top: 200px;
  }
  .projects-grid {
    display: flex;
    flex-direction: column;
  }
  .background-cover {
    width: 70px;
  }

  div.mdl-tabs__tab-bar {
    width: 300px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 234px;
    z-index: -3;
    margin-bottom: -190px;
  }
}

@media all and (max-width: 500px) {
  .introduction3 {
    display: none;
  }
}

/* @media all and (max-width: 1280px) {
  .introduction {
    margin-left: 2px;
    font-size: 70px;
  }
  .introduction3 {
    font-size: 20px;

    margin-top: 200px;
  }
  .underlay-text {
    font-size: 350px;
  }
  .second-half2 {
    display: none;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: 150px;
  }
} */

@media all and (max-width: 320px) {
  .my-name {
    font-size: 15px;
  }
  .underlay-text {
    font-size: 30px;
    margin-top: 320px;
  }
  .introduction {
    font-size: 20px;
    margin-top: 100px;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: -150px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .underlay-text {
    font-size: 222px;
    margin-top: 450px;
  }

  .background {
    margin-right: 77px;
  }

  .resume {
    width: 354px;
    margin-left: 12px;
    margin-top: 300px;
  }

  .resume > p {
    padding-right: 0px;
    padding-top: 50px;
  }

  .background2 {
    margin-top: 200px;
    position: absolute;
  }

  .background-1 {
    margin-right: -42px;
  }

  i.material-icons {
    color: #5fc3b1;
  }

  .introduction3 {
    margin-top: 200px;
    background-color: #5fc3b1;
    border-radius: 25px;
    padding: 40px;
    opacity: 70%;
    margin-left: 10px;
  }

  .introduction {
    font-size: 50px;
    margin-top: 150px;
    margin-left: -20px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: 250px;
  }
}

@media screen and (max-width: 375px) {
  .underlay-text {
    font-size: 20px;
    margin-top: 400px;
  }

  .my-name {
    margin-left: 20px;
  }

  .introduction3 {
    display: none;
  }
  .introduction {
    font-size: 25px;
    margin-top: 170px;
    margin-left: -40px;
  }
  .my-name {
    margin-left: -30px;
  }
  .background-cover {
    width: 40px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: 10px;
    margin-left: 60px;
  }

  .icon3,
  .icon4 {
    color: #1f4386;
    font-weight: 600;
  }
}

@media screen and (max-width: 414px) {
  .underlay-text {
    font-size: 109px;
    margin-top: 400px;
    opacity: 20;
  }

  .projects-grid {
    margin-left: -49px;
  }

  .introduction2 {
    margin-right: 30px;
  }

  .introduction3 {
    display: none;
  }
  .background-cover {
    width: 30px;
  }

  .introduction {
    font-size: 25px;
    margin-top: 170px;
    margin-left: -40px;
  }

  .resume {
    margin-right: 20px;
  }

  .background-cover {
    margin-right: 30px;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-top: -10px;
    margin-left: 75px;
  }

  .icon3,
  .icon4 {
    color: #1f4386;
    font-weight: 600;
  }
}
